.paginate{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    list-style: none;
  }

.button{
    text-decoration: none;
    margin: 2px;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
}
.button:hover{
    background-color: rgb(100, 149, 237);
    color: black;
}

.buttonSelected{
    background-color: rgb(15, 172, 99);
}

.buttonDisabled{
    text-decoration: none;
    margin: 2px;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: lightgray;
    color:gray
}

